.contact{
    border-radius: 30px;
}
.contactdescription{
    display:grid;
    grid-template: auto auto / auto;
    justify-content: center;
    align-content: center;
    width: 600px;
    height:600px;
}
.detaildescription{
    grid-row: 1/2;
}

.contactitem{
    grid-row: 2/3;
}